canvas {
  background-image: url('/images/human-body-front-and-back-diagram-of-the-human-body-front-and-back-diagram-of-the-human.jpg');
  background-size: 520px 520px;
  background-repeat: no-repeat;
  margin: auto;
 }
.dataDiv{
  height:100px;
  overflow: scroll;
}
